/* montserrat-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800italic - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-ext_latin_cyrillic-ext_cyrillic-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body{
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    border:none;
    }

html{
box-sizing: border-box;
border-width : 0;

}
*, *::before, *::after{
    box-sizing: inherit;
    border-width : 0;
}
.header{
    margin-top: 0px;
    background-color: #000000;
    border-width : 0;




}
.top{
    width: 100%;
    height: 100%;
    padding-top:160px;


}


.logorec{
    width: 100%;
    height: 100%;
    background: #95329D ;

}
.logo{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    object-fit:scale-down;
    background-size: 150px;
    background: url(../img/logo.png) center no-repeat;

}
.header-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}



.wrapper{
    max-width: 1060px
    margin: 0;
    top: 0;
    bottom:0;
    position: sticky;
    border: none;
}



.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: -10px;
    margin-bottom: -25px;
    top: 0;
    bottom:0;
    position: sticky;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}


.header-item{
    margin-right: 80px;
}

.header--item{
    margin-right: 140px;
    margin-top: 150px;
}

.header--item:first-child:{
    margin-left: 100px;
}




.header--link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.linktab{
    margin-left: 144px;
    margin-top: -255px;
    position: fixed;
    border: none;
    height: 500px;
    width: 1200px;
    object-fit:scale-down;
    background: url(../img/linktab.png) center no-repeat;
}

.header--list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.header-list-rubrics{
    list-style-type: none;

}
.header-list-archive{
    margin-left: 215px;
    margin-top: -170px;

}


.header-item-archive{
    list-style-type: none;

}
.header-link-archive{
    text-decoration: none;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;

}

.header-list-sotrud{
    margin-left: 420px;
    margin-top: -55px;
    list-style-type: none;

}
.header-list-about{
    margin-left: 697px;
    margin-top: -34px;
    list-style-type: none;

}

.header-list-social{
    margin-left: 885px;
    margin-top: -34px;
    list-style-type: none;

}




.header-item-rubrics{
    list-style-type: none;

}
.header-link-rubrics{
    text-decoration: none;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;

}


.header-item:first-child{
    margin-left: 50px;
}

.header-link:hover, .header-link:focus, .header-link:active
{
    opacity: .75;
}
/* background */
 .intro{
    border: 0;
    height: 100%;
    background: url(../img/back.jpg) repeat center;
    background-size: cover;
 }

.recfortext{
    background: #FFFFFF;
    border-radius:0px;
    height: 1600px;
    left: 286px;
    margin-left: 240px;
    top: 399px;
    width: 1008px;
}

.podval{
    background: linear-gradient(180deg, rgba(143.12, 101.56, 196.56, 0) 0%,
    rgb(143.12, 101.56, 196.65) 16.65%);
    height: 428px;
    left: 0:
    position: absolute;
    top: 2000px;
    width: 100%;
}




.header-media{
    display: flex;
    flex-wrap: wrap;
    width: 31.39px;
    height: 32.64px;
    border: 0;
    margin-right: 20px;
    margin-left: 520px;
    background: transparent url(../svg/facebook.svg) no-repeat left center;
}
.header-media1{
    display: flex;
    flex-wrap: wrap;
    width: 53.09px;
    height: 32.64px;
    border: 0;
    margin-right: 20px;
    background: transparent url(../svg/vk.svg) no-repeat left center;
}
.header-media2{
    display: flex;
    flex-wrap: wrap;
    width: 32.63px;
    height: 32.64px;
    border: 0;
    margin-right: 20px;
    background: transparent url(../svg/insta.svg) no-repeat left center;
}
.menu-img{
    display: flex;
    flex-wrap: wrap;
    width: 72px;
    height: 72px;
    margin-top: -100px;
    margin-left: 1395px;
    z-index:100;
    background: url(../img/menu.png) no-repeat center;

}
.lupa{
    display: flex;
    flex-wrap: wrap;
    width: 72px;
    height: 72px;
    margin-top: -70px;
    margin-left: 1300px;
    z-index:100;
    background: url(../img/lupa.png) no-repeat center;

}
.line{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 100px;
    margin-top: -70px;
    margin-left: 1130px;
    z-index:100;
    background: url(../img/line.png) no-repeat center;

}
.about-text{
    padding-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 30px;
}
.about-text1{
    padding-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 30px;
}
.about-text2{
    padding-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 30px;
}
.about-text3{
    padding-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 30px;
}
.photokournal{
    background: url(../img/oto.png) no-repeat center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;

.maintext{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}


}
.terms{
    margin-top: 210px;
}
.photophone{
    background: url(../img/телефон.png) no-repeat center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: -150px;

}
