<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наш Журнал Уральск</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
</head>
<body>
<div class="top"></div>
<div class="wrapper">
<div class="logorec">
    <div class="logo"></div>
    <div class="menu">
        <a href="#!" class="menu-img">
        </a>
    </div>
    <div class="lupa">
        <a href="#!" class="lupa-img"></a>
    </div>
    <div class="line">
        <a href="#!" class="lupa-img"></a>
    </div>
</div>
<header class="header">
    <div class="wrapper">
        <div class="header_wrapper">

            <nav class="header-nav">
                <div class="view-1">
                    <ul class="header-list">
                        <li class="header-item">
                            <a href="#!" class="header-link">Журнал</a>
                        </li>
                        <li class="header-item">
                            <a href="#!" class="header-link">Новости</a>
                        </li>
                        <li class="header-item">
                            <a href="#!" class="header-link">Сотрудничество</a>
                        </li>
                        <li class="header-item">
                            <a href="#!" class="header-link">О нас</a>
                        </li>

                        <li>
                            <a href="#!" class="header-link">
                                <a class="header-media"></a>
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header-link">
                                <a class="header-media1"></a>
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header-link">
                                <a class="header-media2"></a>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
    <main class="main">
        <section class="intro">
            <div class="recfortext">

                <div class="maintext">
                    <p>{{text}}</p>

                </div>
                <p align="center">{{journal}}</p>
                <p align="center" class="terms">Все права защищены © “Наш Журнал” 2022 </p>

            </div>
            <div class="podval">
                <div class="logopodval">

                </div>
                <div class="tema">

                    <ul class="header--list">
                        <li class="header--item">
                            <a href="#!" class="header--link">Рубрики</a>
                        </li>
                        <li class="header--item">
                            <a href="#!" class="header--link">Архивы</a>
                        </li>
                        <li class="header--item">
                            <a href="#!" class="header--link">Сотрудничество</a>
                        </li>
                        <li class="header--item">
                            <a href="#!" class="header--link">О нас</a>
                        </li>
                        <li class="header--item">
                            <a href="#!" class="header--link">Наши Социальные сети</a>
                        </li>
                    </ul>
                    <ul class="header-list-rubrics">
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Спорт и ЗОЖ</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Образование</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Куда сходить</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Ваше здоровье</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Мода и стиль</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Туризм</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Люди дела</a>
                        </li>
                        <li class="header-item-rubrics">
                            <a href="#!" class="header-link-rubrics">Твори добро</a>
                        </li>
                    </ul>
                    <ul class="header-list-archive">
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive">2019 год</a>
                        </li>
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive">2020 год</a>
                        </li>

                    </ul>
                    <ul class="header-list-sotrud">
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive">Реклама</a>
                        </li>
                    </ul>
                    <ul class="header-list-about">
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive">Информация</a>
                        </li>
                    </ul>
                    <ul class="header-list-social">
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive">Facebook</a>
                        </li>
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive">ВКонтакте</a>
                        </li>
                        <li class="header-item-archive">
                            <a href="#!" class="header-link-archive"> Instagram</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </main>
</header>
</body>
</html>
